[submodule "optimization algorithms"]
	path = optimization algorithms
	url = https://github.com/SMMH1999/Optimization-Algorithms.git
[submodule "optimization benchmarks"]
	path = optimization benchmarks
	url = https://github.com/SMMH1999/optimization-benchmarks.git
